.container {
  margin: 1rem;
}

.header {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;

  .row:first-child {
    border-top: 1px solid #dadce0;
  }
}

.row {
  display: flex;
  flex: 1 1 0%;
  border-bottom: 1px solid #dadce0;

  .col:first-child {
    border-left: 1px solid #dadce0;
  }
}

.col {
  border-right: 1px solid #dadce0;
  padding: 0.5rem;
  width: 14.2857%;
}

.caption {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}