.col {
  border-right: 1px solid #e8e8e8;
  width: 14.2857%;
  min-height: 100px;
  padding-bottom: 0.25rem;

  &:hover {
    background-color: #e8e8e8;
  }
}

.caption {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 0 0 0.25rem 0;
  padding: 0.25rem 0;

  &:hover {
    background-color: #dadce0;
  }
}

.create {
  background: none;
  padding: 0 0.25rem;
  color: #737373;
  font-size: 1.5rem;
  margin: 0;

  &:hover {
    color: #000;
  }
}

.close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  padding: 0;
  margin: 0;
  background: none;
  z-index: 10;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    position: absolute;
    left: 15px;
    top: 0;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
